body {
  margin: 0; padding: 0;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.container-top {
  width: 100%;
  height: 60px;
  background-color: #3e3efb;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container-top p{
  margin-top: 10px;
  font-size: 20px;
  color: #faff00;
}

.container-top-cep {
  margin: 0px 35%;
  max-height: 100px;
  max-width: 50px 50px;
  padding: 10px;
  background-color: #faff00;
  border: 2px solid #3e3efb;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-top-cep:hover{
  border: 2px dashed #3e3efb;
}

.container-top-cep input{
  padding-left: 10px;
  margin-top: 10px;
  width: 19em;
  height: 30px;
  border: 2px dashed #3e3efb;
  border-radius: 10px;
  background-color: floralwhite;
  color: #3e3efb;
}
.container-top-cep input:hover{
  border: 2px solid #3e3efb;
}

.button-top-cep {
  margin-top: 5px;
  padding: 5px 40px;
  background-color: inherit;
  border: 1px solid #3e3efb;
  color: #3e3efb;
  transition: .5s ease-in;
  font-size: 14px;
}
.button-top-cep:hover {
  transition-duration: 0.7s;
  padding: 5px 20px;
}
.button-top-cep:active {
  transform: scale(0.95);
}

#container-top-cep-message {
  height: 20px;
  margin: 0px 40%;
  padding: 10px 10px;
  color: #3e3efb;
  font-size: 10px;
  text-align: center;
}
.cep-message {
  border: 1px dashed #3e3efb;
  border-top: 0px;
  background-color: floralwhite;
}

@media (max-width: 800px) { 
  .container-top-cep {
    margin: 0px 10%;
    max-width: 40px 40px;
  }

  .container-top-cep input:hover{
    border: 2px solid #3e3efb;
  }

  #container-top-cep-message {
    margin: 0px 10%;
    max-width: 10px 10px;
  }
}

.campos {
  margin-top: 10px;
  padding: 20px 20px;
}

.campos input {
  padding-left: 30px;
}

.container-campo1, .container-campo2, .container-campo3 {
  height: 50px;
  display: flex;
  justify-content: space-between;
  transition: .5s ease-in;
}

.useStyled:hover {
  transition-delay: 0.1s;
  padding: 0px 18%;
}

.container-campo1 {
  padding: 0px 5%;
}
.container-campo2 {
  margin-top: 10px;
  padding: 0px 10%;
}
.container-campo3 {
  margin-top: 10px;
  padding: 0px 15%;
}

.cont {
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #3e3efb;
  display: flex;
  justify-content: space-between;
}

.cont-campo {
  margin-top: 20px; margin-left: 30px; color:#3e3efb;
  text-align: center;
}

#campo1-1, #campo2-1, #campo3-1 {
  padding-right: 30px;
}

.cont-title {
  font-size: 12px;
  width: 100px; height: 20px;
  border: 1px solid #3e3efb;
  background-color: #faff00;
}

.cont-title p {
  margin: auto;
  margin-top: 2px;
  text-align: center;
}

@media (max-width: 800px) {
  .campos {
    margin-top: 5px;
    padding: 0px 10px;
  }

  .container-campo1, .container-campo2, .container-campo3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 50px;
  }

  .useStyled:hover {
    transition-delay: 0.1s;
    padding: 0%;
    margin-top: 2px;
  }

  .cont {
    height: 70px;
    width: 100%;
    padding: 10px 0px;
    margin-top: 10px;
  }
  .cont-campo { 
    margin: auto;
  }

  .cont-title { 
    width: 57px; height: 20px;
    font-size: 10px;
  }
}
